h3{
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.kokotext {
    font-family: 'Cabin', sans-serif;
}

img {
   width: 100%
}
.navbar {
    margin-bottom: unset;
}

.noleft {
    width: 100%;
    min-width: 100%;
}

.noleft h1 a{
    text-decoration: none;
    color: #000;
}

p{
    font-family: 'Cabin', sans-serif;
}

.gallery a:link, .gallery a:visited, .gallery a:hover, .gallery a:active {
    text-decoration: none;
    color: #000;
}

.logodiv {
    background-color: #000;
    margin-top: 0px;
}

.logodiv h1{
    margin-top: 0px;
}

.koko{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 60px;
}

.slider{

    width: 100%;
    height: 400px;
    overflow: hidden;
    max-width: 100%;
}

ul{
    list-style-type: none;
    text-align: center;
    min-width: 100%;
}

li {
    display: inline-block;
    float: left;
    margin-right: 5%;
    margin-left: 5%;
}
li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.kokomenu {
    font-family: 'Playfair Display', serif;
}

.kokomenu a:link, .kokomenu a:visited {
    text-decoration: none;
    color: #000;
}

.kokomenu a:hover {
    color: #4c4406;
    text-decoration: none;
}

.kokoslider {
    background-image: url("../img/pretty-model.jpg");
    min-height: 400px;
    padding-left: -15px;
    background-size: cover;
}

.fashion {
    background-image: url("../img/sewmach.jpg");
    min-height: 400px;
    padding-left: -15px;
}

.hmdecor {
    background-image: url("../img/decor.jpg");
    min-height: 400px;
    padding-left: -15px;
}


.healthytray {
    background-image: url("../img/healthyfood.jpg");
    min-height: 400px;
    padding-left: -15px;
}

.imdiv {
    margin-left: 70%;
    padding-top: 50px;

}

.boxtext {
    width: 300px;
    color: #fff;
    font-family: 'Cabin', sans-serif;
    text-align: justify;
}

.boxtext a:link, .boxtext a:visited, .boxtext a:active {
    text-decoration: none;
    color: #fff;
}

.boxtext a:hover {
    text-decoration: none;
    color: #ffcc00;
}

.boxtitle {
    color: #fff;
    font-family: 'Playfair Display', serif;
}

.abouttitle {
    font-family: 'Playfair Display', serif;
}


.healthbg {
    background-image: url("../img/carrot600.jpg");
    height: 100%;
    min-height: 400px;
    background-size: cover;
}


/* For Other Pages */
.koktext {
    padding-left: 25px;
}

.boxd {
    overflow: hidden;
}

.sometop {
    margin-top: 20px;
}

.somebottom {
    margin-bottom: 40px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.fullp{
    width: 80% ;
    text-align:justify;
}

.nomargins {
    padding: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    margin: 0px;
}

.bloka {
    display: inline-flex;
    flex-wrap: wrap;
}

.bloka img {
    width: 150px;
    height: 220px;
}

.gallery {
    margin-top: 0px;
    align-content: center;
}

.kokohead {
    padding-bottom: 20px;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.kokohead2 {
    padding-bottom: 20px;
    font-family: 'Playfair Display', serif;
    text-align: left;
}

.litehead {
    margin-top: 0px;
    font-family: 'Playfair Display', serif;
    text-align: left;
}

.buttonholder {
    text-align: center;
}

.footer {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #333;
    color: #fff;
}

footer a:link, footer a:visited{
    text-decoration: none;
    color: #fff;
}

footer a:hover{
    text-decoration: none;
    color: gold;
}


label {
    font-family: 'Cabin', sans-serif;
}

label .control-label{
    padding-left: 0px;
    text-align: left;
    padding-top: 0px;
}



/*Fancy Divider*/
hr.styled {
    border-top: 1px solid #8c8b8b;
    text-align: center;
}
hr.styled:after {
    content: '§';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #fff;
    color: #8c8b8b;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}



/*For smaller browsers*/

@media screen and (max-width: 760px) {
    .imdiv {
        float: left;
        margin-left: 10px;
        text-align: center;
    }

    .slider {
        height: 100%;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .mybuttons {
        height: 48px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .fashion {
        margin-top: 0px;
    }

    .kokomenu {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .koktext {
        padding-left: 0px;
    }
    .fullp{
    width: 100% ;
    text-align:center;
    }

    body {
        text-align: center;
    }

}

@media screen and (max-width: 768px) {
     .bloka {
    margin-left: 10%;
    }
    .kokohead2 {
        text-align: center;
    }
      .kokoslider {
   
    min-height: inherit;
    
}
   
ul {
        margin: inherit;
    }
    li{
        display: block;
        float: initial;
        margin-right: 5%;
        margin-left: 5%;
    }
}

@media screen and (min-width:768px) {
    .control-label {
        text-align: left;
    }
    .kokoslider {
   
    min-height: inherit;
    
    }

}

